---
import QrCode from "../../components/frontend-mentor/QrCode.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code</title>
  </head>
  <body>
    <div class="flex justify-center items-center bg-blue-200 h-screen px-10">
      <QrCode />
    </div>
  </body>
</html>
