---
const { reveal } = Astro.props;
---

{(!reveal || reveal === 1) && <div data-anchor-number="1">first</div>}
{(!reveal || reveal === 2) && <div data-anchor-number="2">second</div>}
{(!reveal || reveal === 3) && <div data-anchor-number="3">third</div>}
