---
export async function getStaticPaths() {
  return [
    {
      params: { writing: "software development is a sport" },
    },
  ];
}

const { writing } = Astro.params;
---

<div class="min-h-screen bg-darkOrange text-white p-12">
  <a href="/writings" class="fixed right-8">
    <svg
      width="34"
      height="33"
      viewBox="0 0 34 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line x1="1.35355" y1="0.646447" x2="32.8575" y2="32.1504" stroke="white"
      ></line>
      <line x1="0.646447" y1="32.1504" x2="32.1504" y2="0.646387" stroke="white"
      ></line>
    </svg>
  </a>
  <div class="flex justify-center mb-12">
    <h1 class="text-2xl">{writing?.toUpperCase()}</h1>
  </div>
  <div
    class="mx-auto font-body text-sm text-white text-opacity-80 w-96 space-y-8"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere,
      odio et suscipit pharetra, erat tortor efficitur sapien, vel gravida urna
      orci non magna. Vestibulum nec risus sed nisi sodales facilisis at
      tincidunt dolor. Aenean eu aliquam ligula, ac consequat turpis. Integer
      sapien velit, bibendum vel purus eu, congue tincidunt odio. Vestibulum
      imperdiet vulputate ullamcorper. Nulla enim nisl, suscipit nec finibus
      non, suscipit sit amet nisl. In dapibus sagittis nunc non maximus. Donec
      iaculis risus eu sapien molestie volutpat. Sed et urna efficitur, bibendum
      erat sit amet, vehicula arcu. In sed scelerisque enim, eu interdum quam.
      Proin sed nunc ac velit congue commodo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere,
      odio et suscipit pharetra, erat tortor efficitur sapien, vel gravida urna
      orci non magna. Vestibulum nec risus sed nisi sodales facilisis at
      tincidunt dolor. Aenean eu aliquam ligula, ac consequat turpis. Integer
      sapien velit, bibendum vel purus eu, congue tincidunt odio. Vestibulum
      imperdiet vulputate ullamcorper. Nulla enim nisl, suscipit nec finibus
      non, suscipit sit amet nisl. In dapibus sagittis nunc non maximus. Donec
      iaculis risus eu sapien molestie volutpat. Sed et urna efficitur, bibendum
      erat sit amet, vehicula arcu. In sed scelerisque enim, eu interdum quam.
      Proin sed nunc ac velit congue commodo.
    </p>
  </div>
</div>
