---
// Component Imports
// import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// Supports weights 100-700
import Main from "../layouts/main.astro";
const text = `
This will be my small little intro where I explain that I am a software engineer. 

I will describe what value I can provide. 

I will also mention my interests and what you can expect from this site.
`;
---

<Main navHidden="true">
  <div class="sm:grid grid-cols-2 h-5/6 lg:w-[50rem] md:w-[40rem] sm:w-[34rem]">
    <div class="flex flex-col sm:w-fit">
      <h1 class="lg:text-6xl text-3xl">LIAM</h1>
      <h1 class="lg:ml-20 ml-8 lg:text-6xl text-3xl">IDROVO</h1>
      <h1 class="lg:text-4xl text-xl text-white">says hi</h1>
      <p
        class="lg:ml-20 ml-8 font-body w-48 text-xs whitespace-break-spaces tracking-tight self-center"
      >
        {text}
      </p>
    </div>
    <div class="sm:flex grow row-start-2 sm:row-start-1 sm:col-start-2">
      <div
        class="lg:h-[27rem] lg:w-[28rem] md:h-[22rem] md:w-[24rem] sm:h-[18rem] sm:w-[20rem] h-[15rem] w-[14rem] sm:mt-32 relative text-xs font-body flex items-center gap-4 mx-auto"
      >
        <a
          href="/portfolio"
          class="border-black border aspect-square w-5/12 flex top-0 left-0 justify-center items-center lg:hover:w-7/12 transition-all hover:bg-mildOrange z-20 p-2 sm:absolute"
        >
          <span>If you want to work with me</span>
        </a>
        <a
          href="/writings"
          class="border-black border aspect-square w-7/12 bottom-0 right-0 flex justify-center items-center lg:hover:w-9/12 transition-all hover:bg-mildOrange hover:z-10 z-20 p-2 sm:absolute"
        >
          <span>If you want to get to know me</span>
        </a>
      </div>
    </div>
  </div>
</Main>
