---
---

<div
  id="contact"
  class="group border border-black rounded-full sm:py-6 sm:px-12 py-3 px-6 w-fit font-body text-sm mt-auto"
>
  <!-- point of this container is to prevent slashes from resizing border of contact button -->
  <div class="h-6 flex items-center">
    <span id="closed-content" class="group-hover:hidden group-active:hidden">
      Reach me</span
    >
    <div
      id="open-content"
      class="group-hover:flex group-active:flex hidden cursor-default items-center sm:gap-4 gap-2"
    >
      <a href="mailto: liamidrovo@gmail.com" class="cursor-pointer text-white">
        Email</a
      >
      <span class="text-2xl font-light">/</span>
      <a
        href="https://www.linkedin.com/in/liam-idrovo/"
        class="cursor-pointer text-white"
      >
        LinkedIn</a
      >
      <span class="text-2xl font-light">/</span>
      <a
        href="https://twitter.com/IdrovoLiam"
        class="cursor-pointer text-white"
      >
        Twitter</a
      >
      <span class="text-2xl font-light">/</span>
      <a
        href="https://github.com/HialeahLiam"
        class="cursor-pointer text-white"
      >
        Github</a
      >
    </div>
  </div>
</div>

<script>
  const contact = document.querySelector("#contact");
  const open = () => {
    const closed = document.querySelector("#closed-content");
    const opened = document.querySelector("#open-content");
    closed?.classList.add("hidden");
    opened?.classList.add("flex");
  };
  const close = (e) => {
    if (!contact?.contains(e.target)) {
      const closed = document.querySelector("#closed-content");
      const opened = document.querySelector("#open-content");
      closed?.classList.remove("hidden");
      opened?.classList.remove("flex");
      document.removeEventListener("touchstart", (e) => close(e));
    }
  };
  contact?.addEventListener("touchend", open);
  document.addEventListener("touchstart", (e) => close(e));
</script>
