---
---

<div class="flex gap-4 items-center">
  <a href="/portfolio">PORTFOLIO</a>
  <a href="/writings">WRITINGS</a>
  <a
    href="/"
    class="border text-sm border-black text-white aspect-square w-16 flex items-center justify-center rounded-full"
    >restart</a
  >
</div>
