---
import Contact from "../components/Contact.astro";
import Nav from "../components/Nav.astro";
import "@fontsource-variable/josefin-sans";

const { title = "Liam Idrovo", navHidden = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="bg-brightOrange absolute inset-0 sm:pb-12 sm:py-6 py-3 font md:px-12 px-6 flex flex-col"
    >
      <slot />
      <Contact />
      {
        !navHidden && (
          <div class="absolute right-8  sm:top-8 left-6 top-2">
            <Nav />
          </div>
        )
      }
    </div>
  </body>
</html>
